$font-family: Helvetica, Arial, sans-serif
$black: #000
$white: #fff
$dark-grey: #333
$light-grey: #ccc
$orange: #f95c0f
$burnt-orange: #bb450b

body
  background: $orange
  color: $black
  font-family: $font-family
  font-size: 80%
  height: 100%
  margin: 0
  padding: 0
  position: relative

// #header

.content
  padding: 50px 0

  h1
    color: $black
    font-size: 50px
    font-weight: bold
    letter-spacing: -2px
    margin-top: 150px
    position: fixed

    .words
      color: $white
      margin-bottom: 75px
      text-shadow: $light-grey 0 0 1px

      .word
        margin-bottom: 10px

    .number
      color: $black

  .hidden
    visibility: hidden

  ol
    list-style: none
    margin-bottom: 25px
    margin-right: 0
    position: relative

    &.counter-reset-0
      counter-reset: item 0

    &.counter-reset-1
      counter-reset: item 1

    &.counter-reset-2
      counter-reset: item 2

    &.counter-reset-3
      counter-reset: item 3

    &.counter-reset-4
      counter-reset: item 4

    &.counter-reset-5
      counter-reset: item 5

    &.counter-reset-6
      counter-reset: item 6

    &.counter-reset-7
      counter-reset: item 7

    &.counter-reset-8
      counter-reset: item 8

    &.counter-reset-9
      counter-reset: item 9

    &.counter-reset-10
      counter-reset: item 10

    &.counter-reset-11
      counter-reset: item 11

    li
      border-top: 2px solid $black
      counter-increment: item
      margin-bottom: 10px

      &::before
        content: counter(item)
        display: block
        left: -5px
        padding-top: 5px
        position: absolute

      &.past
        border-top-color: $burnt-orange

        &::before
          color: $burnt-orange

      dl
        line-height: 30px
        padding-left: 70px
        position: relative

        dt
          border-bottom: 1px solid $black
          left: 0
          position: absolute
          top: 0
          width: 100%

          &.past
            border-bottom-color: $burnt-orange
            color: $black
            opacity: .25

        dd
          display: inline-block
          margin: 0
          padding: 0 5px
          position: relative
          text-align: right
          width: 25px

          &.commercial-day-6,
          &.commercial-day-7
            color: $white
            font-weight: bold

            &.past
              font-weight: normal

          &.fifteen
            margin-right: 16px

          &.past
            color: $black
            opacity: .25

          &.current
            font-weight: bold

            &.past
              font-weight: normal

            span
              &.overlay
                display: block

          &.future
            opacity: 1

          span
            &.overlay
              display: none
              font-size: 40px
              font-weight: bold
              height: 100%
              opacity: 1
              padding: 0 5px
              position: absolute
              right: -2px
              top: -25px
              width: 25px

          &.row-2
            span
              &.overlay
                bottom: -20px !important
                top: auto

  .navigation
    font-size: 20px
    padding-top: 10px

    .prev
      text-align: left

    .next
      text-align: right

    .content
      font-size: 12px
      line-height: 20px
      padding-top: 10px
      text-align: center

    a
      border-bottom: 1px dotted $dark-grey
      color: $black
      text-decoration: none

      &:hover,
      &:active,
      &:focus
        border-bottom: 2px solid $black

footer
  display: none
  padding: 20px
  text-align: center
